#ServerList
{
    position:fixed;
    left:0;
    top:64px;
    width:70px;
    background-color: var(--navbar);
    height:100%;
    overflow-y: scroll;
    padding:6px;
    gap:5px;
    z-index: 2;
    /*display: flex;
    justify-content: center;*/
}

#CreateServer
{
    background-color: transparent;
    border: #429eed 3px solid;
    padding: 0;
    aspect-ratio: 1 / 1;
    width: 100%;
    border-radius: 50%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 300%;
    cursor: pointer;
    margin-bottom: 5px;
}

#CreateServer:hover
{
    border: #266faf 5px solid;
    color:rgb(165, 165, 255);
}


.ServerListAnchor
{
    height:fit-content;
    width:fit-content;
    display:block;
    margin-bottom: 5px;
}

.ServerListIcon
{
    width:100%;
    border-radius: 50%;
    border: 0px solid #ffffff;
    transition: all .25s;
    aspect-ratio: 1/1;
}

.ServerListIcon:hover
{
    box-shadow: 0 0 0 3px var(--serverIconHover);
}

#ChannelList
{
    position:fixed;
    left:82px;
    top:96px;
    width:200px;
    background-color: var(--channelList);
    height:100%;
    overflow-y: scroll;
    justify-content: center;
}

#ServerName
{
    position:fixed;
    left:82px;
    top:64px;
    width:195px;
    background-color: #0d0d0d;
    height:32px;
    color:white;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 5px;
    justify-content: space-between;
    z-index: 2;
}

#MessageBody
{
    position:fixed;
    left:282px;
    top:64px;
    width:100%;
    height:calc(100% - 128px);
    background-color: var(--messageBody);
    overflow-y: scroll;
    overflow-x: hidden;
}

#ChatContainer
{
    position:fixed;
    left:282px;
    bottom:0;
    width:100%;
    height:64px;
    background-color: var(--chatBody);
}

#ChatBox
{
    position: absolute;
    left:25px;
    top:25%;
    width:60%;
    height:50%;
    resize: none;
    font-family: "PT Sans", sans-serif;
    border:none;
    outline:none;
    border-radius: 5px;
    background-color: var(--chatBox);
    color:var(--fontColor);
}

#CreateServerMenu
{
    position:fixed;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.573);
    width:100%;
    height:100%;
    z-index: 6;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
    transition: all .5s;
}

#CreateServerBody
{
   height:400px;
   aspect-ratio: 3/3.5;
   font-family: "Kode Mono", monospace;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 5px;
   padding: 15px;
}

#CreateServerIcon
{
    background-color: rgb(66, 66, 66);
    border-radius: 50%;
    aspect-ratio: 1/1;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px dashed white;
    transition: all .5s;
    cursor: pointer;
    overflow: hidden;
}

#CreateServerIcon:hover
{
    filter:brightness(70%);
}

#CreateServerName
{
    width:100%;
    display: flex;
    flex-direction: column;
}

#CreateServerNameInput
{
    background-color: rgb(66, 66, 66);
    border: none;
    height:30px;
    color:white;
    border-radius: 5px;
    font-family: "PT Sans", sans-serif;
}

#CreateServerControlPanel button
{
   height:50px;
   aspect-ratio: 1.5/1;
   border-radius: 5px;
   border:none;
   margin:5px;
   font-family: "PT Sans", sans-serif;
   border-radius: 5px;
   transition: .25s all;
   cursor:pointer;
}

#CreateServerControlPanel button:hover
{
   filter:brightness(85%);
}

#CreateServerControlPanel button:active
{
   filter:brightness(65%);
}

.ChannelListItem
{
    color:white;
    width:100%;
    height:30px;
    border-top:2px rgb(73, 73, 73) solid;
    display: flex;
    align-items: center;
    padding-top: 6px;
    transition:all .25s;
    text-decoration: none;
}


.ChannelListItem:hover
{
    background-color: rgb(160, 160, 160);
}

.ChannelListItem::before
{
    content: '#';
    padding-right: 5px;
    font-weight: bold;
}

#CreateChannel
{
    aspect-ratio: 1/1;
    background-color: transparent;
    color:white;
    cursor:pointer;
    border:none;
    font-size: large;
    height:20px;
    transition: all .25s;
}

#CreateChannel:hover
{
    font-size: larger;
}

#CreateChannelInput
{
    position:fixed;
    left:282px;
    top:64px;
    width:228px;
    background-color: #0d0d0d;
    height:32px;
    color:white;
    display: flex;
    align-items: center;
    font-weight: bold;
    padding-left: 5px;
    transform: translateX(-233px);
    transition:all.25s;
}

#CreateChannelField
{
    background-color: gray;
    font-family: "PT Sans", sans-serif;
}

.ChannelCreateButton
{
    height:20px;
    aspect-ratio: 1/1;
    background-color: transparent;
    border: none;
    color:white;
    cursor: pointer;
}
