#EditProfileMenuWrapper
{
    position:fixed;
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    background-color: #67717da6;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 8;
    transition: all .25s;
    filter:opacity(0);
    display: none;
}

#EditProfileMenu
{
    width:550px;
    height:450px;
    background-color: rgb(39, 56, 71);
    padding:20px;
    font-family: 'Kode Mono', monospace;
    position: relative;
}

#EditProfileMenu input[type="text"],input[type="password"]
{
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #444444;
    color: #ffffff;
    transition: all 0.3s ease;
    font-family: "PT Sans", sans-serif;
}

#EditProfileMenu textarea
{
    height:150px;
    width:200px;
    padding: 5px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #444444;
    color: #ffffff;
    resize: none;
    transition: all 0.3s ease;
    font-family: "PT Sans", sans-serif;
}

#EditPFPIMG
{
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    width: 80px;
    position:absolute;
    top:343px;
}

#EditPFPButton
{
    border-radius: 50%;
    aspect-ratio: 1/1;
    cursor: pointer;
    top:363.4px;
    position:absolute;
    left:132px;
    transition:all .25s;
}

#EditPFPFile
{
    display: none;
}

#EditUN
{
    position:absolute;
    top:82px;
    width:515px;
}

#EditBio
{
    position:absolute;
    top:167px;
}

#EditCP
{
    position: absolute;
    top:167px;
    left:236px;
    width:290px;
}

#EditNP 
{
    position: absolute;
    top:268px;
    left:236px;
    width:290px;
}

#SubmitProfChange
{
    background-color: #429eed;
    border:none;
    font-family: "PT Sans", sans-serif;
    color:white;
    width:100px;
    aspect-ratio: 1.8/1;
    border-radius: 9px;
    transition: all .25s;
    cursor:pointer;
    position:absolute;
    top: 355px;
    left:282px;
}

#EditProfileMenu button:hover
{
    filter:brightness(50%);
}

#CloseProfileEdit
{
    position: absolute;
    top: 5px;
    right: 0;
    background-color: transparent;
    color:white;
    border: none;
    cursor: pointer;
    transition: all .5s;
}