#html,body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    overflow: hidden;
    height:fit-content;
}

#LoginBackground
{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-image: url("../assets/img/loginPCB.jpg");
    filter:blur(5px);
    background-size: cover;

}

#LoginSharpen
{
    position:fixed;
    width:300px;
    top:50px;
    left:50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    background-image: url("../assets/img/loginPCB.jpg");
    background-attachment: fixed;
    background-size: cover;
    mask-image: linear-gradient(180deg, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 90%);
}

#LoginForum
{
    width:640px;
    z-index: 2;
    display:flex;
    padding:20px;
    position:relative;
    gap:50px;
    color:white;

}

#LoginForumBlurBG
{
    height:100%;
    width:100%;
    position:absolute;
    left:0;
    top:0;
    background-color: rgba(0, 0, 0, 0.571);
    z-index: 0;
    border-radius: 30px;
}

#LoginInput
{
    z-index: 1;
}

#LoginGraphic
{
    width:50%;
    z-index: 1;
}

#LoginGraphicImage
{
    width:100%;
    height:auto;
}

.LoginTextInput
{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: #444444;
    color: #ffffff;
    transition: all 0.3s ease;
    font-family: "PT Sans", sans-serif;
}

#SplashMessage
{
    font-family: "Montserrat", sans-serif;
}

#SubmitButton
{
    width: 100%;
    background-color: #272727;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: 'Open Sans', sans-serif;
}

#SubmitButton:hover
{
background-color: rgb(102, 102, 102);
}