#navbar
{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height: 64px;
    background-color: var(--navbar);
    display: flex;
    justify-content: space-between;
    font-family: "Kode Mono", monospace;
    z-index: 2;
}

#navTitle
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    left:0;
    text-decoration: none;
    transition: all .25s;
}

#navIcon
{
    height:100%;
}

#navName
{
    text-decoration: none;
    color:var(--navbarTitle);
    font-size: x-large;
}

#navTitle:hover
{
    transform: scale(105%);
}

#LoginButton
{
    font-family: "Kode Mono", monospace;   
    background-color: var(--navbar);
    border:none;
    color:var(--navbarTitle);
    cursor: pointer;
    transition: all .25s;
}

#LoginButton:hover
{
   background-color: var(--navbarHighlight);
}